<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${titulo}">Home</title>
</head>
<body>
    <h1>Página Home</h1>
    <p th:text="${conteudo}"></p>
</body>
</html>

<!--
    Rafaela, Joao Augusto, Maicon, Erik, Igor, Isabela, Gabriel e Miguel Barbieri, Luana, 
    Frank, Bruno C, Maria Vitoria, Marina, Beatriz, Ana laura, Leandro, 3 x Lucas, 
    Marcelo Salvador, Pietra, Mateus Augusto, Migeul Fernades, Wendel, Endrew, Wesley,
    Roberto, Willian, Bruno Alves, Fernando Claudiano, Mateus Luis 
-->